:8080 {
    root * /app/public
    
    # FrankenPHP wajib pake directive ini buat jalanin Laravel
    php_server
    
    # Kalau file nggak ketemu, lempar ke index.php (PENTING buat 404!)
    try_files {path} {path}/ /index.php?{query}
}